* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #1E73BE;
    border: solid 1px #103453;
  }
  
  .main img{
    align-self: flex-start;
    width: 10%;
  }
  
  .main .circulo {
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-around;
    margin-bottom: 10px;
    top: 550px;
    width: 75px;
    height: 75px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1000px;
  }
  
  .main .circulo .circulo-menor {
    width: 50px;
    height: 50px;
    background: #142d81;
    border-radius: 100px;
  }
  
  .main .video{
      display: flex;
      justify-content: space-around;
  }
  
  .main .video video {
    width: 60%;
    border-radius: 50px;
  }
  
  h1{
      color: white;
  
  }
  
  
  @media (max-width: 700px){
      .main .video video {
          width: 70;
          border-radius: 50px;
        }
  
  }
